<div ng-if="showNavBar">
    <div style="margin-left:70px;" class="jumbotron loading-jumbo text-center" ng-show="doingResolve">
        <h2><span  class="glyphicon glyphicon-refresh glyphicon-spin" aria-hidden="true"></span> Loading</h2>
    </div>
</div>
<div ng-if="!showNavBar">
    <div class="jumbotron loading-jumbo text-center" ng-show="doingResolve">
        <h2><span  class="glyphicon glyphicon-refresh glyphicon-spin" aria-hidden="true"></span> Loading</h2>
    </div>
</div>
</div>
</div>
</div>
